* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



header {
  display: flex; /* Enables Flexbox layout mode */
  flex-direction: column; /* Stacks children (img and h2) vertically */
  justify-content: center; /* Centers children vertically in the header */
  align-items: center; /* Centers children horizontally in the header */
  height: 400px; /* Sets a fixed height for the header */
  width: 100%; /* Ensures the header extends full width of the viewport */
  background-color: #668B8B; /* Sets a distinctive background color */
  margin-top: 120px; /* Pushes the header down to make space for the fixed navbar */
  box-sizing: border-box; /* Includes padding and border in the width and height */
}



header h2 {
  color: #FFFFFF; /* Sets text color to white */
  margin-top: 20px; /* Space between the avatar image and the text */
}

.header-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3000px;
}