* {
  box-sizing: border-box;
  margin: 0;

}

header {
  display: flex; /* Enables Flexbox layout mode */
  flex-direction: column; /* Stacks children (img and h2) vertically */
  justify-content: center; /* Centers children vertically in the header */
  align-items: center; /* Centers children horizontally in the header */
  height: 520px; /* Sets a fixed height for the header */
  width: 100%; /* Ensures the header extends full width of the viewport */
  background-color: #026e6e;
background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header h2 {
  color: #ffffff; /* Sets text color to white */
  margin-top: 0px; /* Space between the avatar image and the text */
}

.header-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  
}

header img.graffiti {
  position: absolute;
  height: auto; /* Maintain the aspect ratio */
  width: 250px;
  top: 27%; /* Center vertically */
  right: 62%; /* Center horizontally */
  opacity: 0.5; /* 50% transparency */


}
header img.graffiti2 {
  position: absolute;
  height: auto; /* Maintain the aspect ratio */
  width: 250px;
  top: 27%; /* Center vertically */
  left: 62%; /* Center horizontally */
  opacity: 0.5; /* 50% transparency */


}

/* ... Existing mobile styles ... */

